/* Nav bar starts */

@media screen and (max-width: 1440px) and (min-width: 1024px) {
    
    /* Nav bar starts */
   
    body
    {
        background-color:lightcyan;
        background-image: radial-gradient(blue,red,white,yellow,green,brown,purple);
        background-repeat: no-repeat;
        height: 740px;
    }
   nav{
   
       /* border: 1px solid red; */
       margin-top: -7px;
       margin-bottom: 10px;
       background-color: lightslategray;
      
   }
   nav .img,h3,ul{
       display: inline;
   }
   nav .img img
   {
       border-radius: 100%;
       position: relative;
       top: 13px;
       left: 30px;
   }
   nav h3
   {
       font-size: 35px;
       color: rgb(47, 255, 47);
       margin-left: 100px;
   }
   nav ul
   {
       display: inline-block;
       margin-left: 450px;
       font-size: 20px;
   }
   nav ul li{
       display: inline-block;
       margin-left: 50px;
       font-size: 20px;
       
   }
   nav ul li a {
   
       text-decoration: none;
       color: white;
     
   }
   nav ul li a:hover{
   
       background-color: rgb(47, 255, 47);
       color:red;
       padding: 5px 15px;
       border-radius: 10px;
   
   }
   nav ul li i{
       font-size: 35px;
       color: white;
       margin-left: 40px;
   }
   nav ul li i:hover {
       color: red;  
   }
   
   nav .sl
   {
       /* border: 1px solid blue; */
       position: absolute;
       right: 10px;
       top: 59px;
       display: none;
   }
   nav .sl .in,.up
   {
       display: flex;
       margin-bottom: 3px;
       font-size: 20px;
       text-decoration: none;
   
   }
   nav .sl .in
   {
       background-color: rgba(128, 128, 128, 0.767);
       padding: 3px 35px 3px 5px;
       text-align: center;
       color: rgb(0, 102, 255);
   }
   nav .sl .in:hover 
   {
       background-color: coral;
       color: #fff;
   
   }
   nav .sl .up
   {
       background-color:rgba(128, 128, 128, 0.767);
       padding: 3px 35px 3px 5px;
       text-align: center;
       color: rgb(0, 102, 255);
   }
   nav .sl .up:hover 
   {
       background-color: coral;
       color: rgb(187, 255, 0);
   }
       
   /* Nav bar ends */
   .mainf
{
    border: 1px solid red;
    padding: 80px 60px 20px 80px;
    margin-right: 300px;
    margin-left: 400px;
    margin-top: -7px;
    background-color: #fff;
    /* display: none; */
    overflow-y: hidden;
}
.mainf .imgf img
{

    width: 400px;
    height: 250px;
    margin-top: -40px;
    /* border: 10px solid brown; */
}
.mainf .dtls h1
{
    text-align: center;
}
.mainf .dtls a button
{
    margin-left: 150px;
    padding: 5px 15px;
    margin-top: 60px;
    letter-spacing: 3px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 25px;
    background-color: aqua;
    border: none;
}
.mainf .dtls a button:hover
{
    background-color: rgba(0, 119, 255, 0.973);
    color: #fff;
    border: none;
}

   
}

